@font-face{
    font-family: helios;
    src:url(fonts/Helios_Extended.otf) format('opentype');
}


* {
    margin: 0;
    padding: 0;


}



html {
    scroll-behavior: smooth;
  }

body {
    height: 100%;
    width:100%;
    background-image: url('images/background.png');
    display: flex;
    flex-wrap: wrap;
    
}

body.no-scroll {
    overflow: hidden;
}


.hero-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    
}

.nav {
    display: none;
}

.open-menu {
    display: none;
}

.resumeContact{
    width:20%;
    height: auto;
    display: flex;
    flex-direction: column;
       
}

.resumeContact p {
    width:40%;
    height:auto;
    padding:5%;
    margin: 3% 0 3% 0;
    background-color: #e0701d;
    color:beige;
    border-top-right-radius: clamp(0.1rem, 5vh ,0.4rem);
    border-bottom-right-radius: clamp(0.1rem, 5vh, 0.4rem);
    text-align: center;
    font-size: clamp(0.25rem, 1.5vw, 1.3rem);
    line-height: 100%;
    font-family: ubuntu;
    font-weight: bold;
    letter-spacing: 0.05rem ;
    border: 1px solid transparent;
    cursor: pointer;

}

.resumeContact a {
    text-decoration: none;
}

.resumeContact p:hover {
    transform: scale(1.1);
}

.contact-popup {
    padding: 2rem 6rem 2rem 2rem;
    width: clamp(8rem, 40vw,18rem);
    margin:10% 0 0  15%;
    border-radius: 0.7rem;
    border: none;
    box-shadow: 1rem 1rem 1rem rgba(46, 46, 46, 0.82);
    font-family: ubuntu;
    font-size: clamp(1rem, 5vw, 2rem);
    display: none;
    flex-direction: column ;
    justify-content: flex-start;
     
}

.contact-popup pre {
    font-size: clamp(1rem, 3vw, 1.5rem);
}



.contact-popup-details {
    max-width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    margin-left: -5%;
}



.contact-popup button {
    margin: 13% 0 0 50%;
    width: 3rem;
    font-family: ubuntu;
    background-color: black;
    color: white;
    border-radius: 0.3rem;
}

.contact-popup::backdrop {
    background-color: rgba(72, 69, 69, 0.6);

}

.photo {
    margin-top:2.5%;
    max-width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.photo img {
    content: url(images/photo2.png);
    width: 63%;
    height: 70%;
    object-fit: contain;
}

.photo p {
    position: absolute;
    font-family: helios;  
    font-weight: lighter;
    color: #333a47;
    transition: color, transform, text-shadow;
    font-size: clamp(0.25rem, 2vw, 1.3rem);
    text-shadow: 0.05rem 0.05rem 0rem rgba(65, 64, 64, 0.5);
}
    

.photo p:hover {
    text-shadow: 0.05rem 0.05rem 0rem #e49458;
    color:#e0701d;
    transform: scale(1.1);

}

.photo a {
    text-decoration: none;
    color: inherit;
}

#skills {
    margin-right: 77%;
    margin-bottom: 25%;
}

#experience {
    margin-left: 80%;
    margin-bottom: 15%;
}

#aboutme {
    margin-bottom: 62%;
}

#education {
    margin-top: 58%;
    margin-right:80%;
}

#project {
    margin-top: 60%;
    margin-left:73%;
}




.socialmedia {
    width:20%;
    height: 40%;
    display: flex;
    flex-direction: column;
    gap: 20%;
}


.socialmedia img {
    max-width: 65%;
    max-height: auto   
}

.socialmedia a {   
    margin-left: 65%;   
}

.socialmedia a:hover img {
    transform: scale(1.1);
}


#name {
    width:100vw;
    font-family: "Ubuntu";
    letter-spacing: 1.5px;
    text-shadow: 0.05rem 0.05rem 0rem rgba(103, 101, 101, 0.5);
    margin-top: 3%;
    margin-left: 0.6vw;
    font-size: clamp(1.7rem, 3vw, 2.3rem);

    display: flex;
    align-items: center;
    justify-content: center;
}

.top {
    height: auto;
    width:1.6rem;
   
    font-size: x-large;
    color: whitesmoke;
    background-color:#e0701d;
    padding:1rem;
    border-radius: 50%;

   

    display: flex;
    justify-content: center;
    align-items: center;
}

#top {
    margin-left:95%;
    margin-top: 10vh;
    text-decoration: none;
    position: sticky;
    top:85vh;
}
.other-section {
    height: auto;
    width:100%;
    margin-top: 10%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.ABOUTME {
    font-size: clamp(2rem, 6vw, 2.3rem);
    background-color: #e0701d;
    box-shadow: 4px 4px 0px rgb(255, 192, 143);
    padding: 0.7%;
    font-family: "League Spartan";
    font-weight: bolder;
    color:antiquewhite;
    letter-spacing: 1.5px;
    text-shadow: 1.5px 1.5px 0px #e49458;
}

.ABOUTME-text {
    margin: 3% 0 4% 2.5%;
    width: 95%;
    height: auto;
    background-color: rgba(232, 160, 52, 0.35);
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.ABOUTME-text p {
    width:90%;
    padding: 3%;
    font-family: "Duru Sans";
    font-weight: lighter;
    color: #231f20;
    font-size: clamp(1.1rem, 4vw, 1.45rem);
    
    
}

.SKILLS {
    margin-top: 10%;
    font-size: clamp(2rem, 6vw, 2.3rem);
    background-color: #e0701d;
    box-shadow: 4px 4px 0px rgb(255, 192, 143);
    padding: 0.7%;
    font-family: "League Spartan";
    font-weight: bolder;
    color:antiquewhite;
    letter-spacing: 1.5px;
    text-shadow: 1.5px 1.5px 0px #e49458;
}

.SKILLS-text {

    color: #231f20;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.SKILLS-text .box {

    width:25%;
    max-height: fit-content;
 
    background-color: rgba(232, 160, 52, 0.35);
    padding: 2.5%;
    border-radius: 4%;
    
    

}

.SKILLS-text .box p {
    margin-top: -3%;
    text-align: center;
    font-family: League Spartan;
    font-weight: bolder;
    font-size: clamp(1.6rem, 4vw, 2.1rem);
    padding: 3%;
    
}

.SKILLS-text .box ul {
    list-style-position: inside;
    
}

.SKILLS-text .box li {
    font-family: ubuntu;
    font-size: clamp(1.1rem, 4vw, 1.6rem);

}

.EDUCATION {
    margin-top: 10%;
    font-size: clamp(2rem, 6vw, 2.3rem);
    background-color: #e0701d;
    box-shadow: 4px 4px 0px rgb(255, 192, 143);
    padding: 0.7%;
    font-family: "League Spartan";
    font-weight: bolder;
    color:antiquewhite;
    letter-spacing: 1.5px;
    text-shadow: 1.5px 1.5px 0px #e49458;
}

.EDUCATION-text {
    color: #231f20;
    margin-top:4%;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center;
    gap: 15%;
}

.EDUCATION-text .box{
    width:85%;
    min-height: 40%;
    height: auto;
    background-color: rgba(232, 160, 52, 0.35);
    padding: 2.5%;
    border-radius: 1.5vw;
}


.EDUCATION-text .box h2,pre {
    width:80%;
    font-family: ubuntu;
    font-size: clamp(1.1rem, 4vw, 1.45rem);
    
}

.EDUCATION-text .box p {
    font-family: ubuntu;
    font-size: clamp(1rem, 3vw, 1.2rem);
    
}

.EXPERIENCE {
    margin-top: 20%;
    font-size: clamp(2rem, 6vw, 2.3rem);
    background-color: #e0701d;
    box-shadow: 4px 4px 0px rgb(255, 192, 143);
    padding: 0.7%;
    font-family: "League Spartan";
    font-weight: bolder;
    color:antiquewhite;
    letter-spacing: 1.5px;
    text-shadow: 1.5px 1.5px 0px #e49458;
}

.EXPERIENCE-text {
    color: #231f20;
    margin-top:4%;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center;
    gap: 15%;
}

.EXPERIENCE-text .box{
    width:85%;
    min-height: 40%;
    height: auto;
    background-color: rgba(232, 160, 52, 0.35);
    padding: 2.5%;
    border-radius: 1.5vw;
}

.EXPERIENCE-text .box pre {
    font-family: ubuntu;
    font-size: clamp(1.1rem, 4vw, 1.45rem);
}


.EXPERIENCE-text .box p {
    font-family: ubuntu;
    font-size: clamp(1rem, 3vw, 1.2rem);
}

.PROJECTS {
    margin-top: 10%;
    font-size: clamp(2rem, 6vw, 2.3rem);
    background-color: #e0701d;
    box-shadow: 4px 4px 0px rgb(255, 192, 143);
    padding: 0.7%;
    font-family: "League Spartan";
    font-weight: bolder;
    color:antiquewhite;
    letter-spacing: 1.5px;
    text-shadow: 1.5px 1.5px 0px #e49458;
}

.PROJECTS-content {
    margin-top:4%;
    width: 100%;
   
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center;
    
    
   
    
}

.PROJECTS-content .box {
    margin: 2%;
    width:22%;
    min-height: 30%;
    
    background-color: rgba(232, 160, 52, 0.35);
    border-radius: 1.2vw;
    padding: 2%;
    font-size:  clamp(1.1rem, 4vw, 1.45rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PROJECTS-content .box img {
    max-width: 100%;
    max-height: auto;    

}

.PROJECTS-content .box img:hover {
        transform: scale(1.1);
    
}

.PROJECTS-content span {
    width:100%;
    font-family: league spartan;
    font-weight: bold;
    text-align: center;
    background-color: #0cc0df;
    border-radius: 0.5vw;
    padding:3%;
    margin-top: -7%; 
    position: relative;
    z-index: 1;

}

.PROJECTS-content p {
    margin-top:10%;
    font-family: league spartan;
    font-weight: bold;
    background-color: black;
    color: white;
    padding: 3%;
    border-radius: 1vw;

}

.PROJECTS-content p:hover {
    transform: scale(1.1);
}

.PROJECTS-content a {
    text-decoration: none;
    color: inherit;
}


.p1 {
    height:70%;
    width:90%;
    border-radius: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    
   
}


.p2 {
    height:70%;
    width:90%;
    border-radius: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    
   
}


.p3 {
    height:70%;
    width:90%;
    border-radius: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    
   
}



.p4 {
    height:70%;
    width:90%;
    border-radius: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    
   
}


.p5 {
    height:70%;
    width:90%;
    border-radius: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    
   
}

.p6 {
    height:70%;
    width:90%;
    border-radius: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
      
}

footer {
    margin-top: 10%;
    width: 100vw;
    height: 60vh;
    background-color: rgba(232, 160, 52, 0.35);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    
}

footer h1 {
    margin-left:5%;
    font-family: league spartan;
    margin-bottom: 3%;
}

footer h2 {
    margin-left: 5%;
    font-family: ubuntu;
    font-weight:400;
    margin-bottom: 3%;
}

footer p {
    margin-left: 5%;
    margin-bottom: 1%;
    font-family: ubuntu;
    margin: none;
    
}

.end-block {
    margin-top: 5%;
    width: 100%;
    height: 13%;
    background-color: #e0701d;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3%;
    
}

.end-block i {
    margin-left: 7vw;
    color: black;
    font-size: xx-large;   
}
.end-block p {
    margin-top: 0.5rem; 
}
